.articleCard {
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0px 50px;
    background-color: lightgrey;
}

.articleCardContent {
    display: flexbox;
    padding: 50px;
}

.articleCardImage {
    align-items: center;
    display: flex;
    padding: 50px;
    width: 50%;
    justify-content:center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.articleCardImage img {
    max-width:100%;
    max-height:100%;
    background-color: red;
}

.articleWrapper {
    margin: 0 auto;
    max-width: 640px;
}

.articleHeader {
    background-size: cover;
    padding: 40px 20px 20px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.articleHeader h1 {
    font-size: 48px;
    font-weight: 400;
}

/* .articleHeaderBlurb {

} */